@import url('https://fonts.googleapis.com/css?family=Bungee');
*{
  padding: 0;
  margin: 0;
  background: #ff7f27;
}
.background{
  font-family: Bungee, sans-serif;
  background: none;
	position: absolute;
  font-size: 200%;
  text-align: center;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  letter-spacing: 5px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}
.video{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.video1{
  width: 100%;
  max-width: 768px;
}
.icon {
	antialias:1;
	position: absolute;
	top: 10%;
	left: 90%;
	transform: translate(-50%, -50%);
	height: 10%;
	background: none;
	border-radius: 1em;
	overflow: hidden;
	box-shadow: 0em 0em 1em 0.025em #000;
}
.home {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	background: none;
}